$white-color:                #FFFFFF !default;
$smoke-color:                #F3F5F8 !default;
$black-color:                #333333 !default;
$blue-color:                 #2B50ED !default;
$blue-secondary-color:       #4162EF !default;
$blue-light-color:           #F2F4FB !default;

$light-gray-color:           #E3E3E3 !default;
$medium-gray-color:          #DDDDDD !default;
$medium-dark-gray-color:     #AAAAAA !default;
$dark-gray-color:            #959eaa !default;
